<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>CANVIS-online</title>
    
    
    
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

        <link rel="stylesheet" href="static/style.css">  
    
  </head>

  <body>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Pathway+Gothic+One" rel="stylesheet">

<header>
  <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('plot') }}">Plot</a></li>
          <li><a href="{{ url_for('docs') }}">Docs</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="home">
  <h1 class="home">PAINTOR CAN-vis</h1>
  <h4 class="home">
    We are interested in developing computational and statistical methods for understanding the genetic architecture of common human diseases. We are particularly interested in methods that leverage the genetic diversity across and within populations for large scale studies. For more details please see our research projects and publications.
  </h4>
  <button type="button" id="start" class="btn btn-primary btn-lg">Start</button>
</div>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

    
    
    
  </body>
</html>

