<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>CANVIS-online-Plot</title>
    
    
    
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

        <link rel="stylesheet" href="static/style.css">
    
  </head>

  <body>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Pathway+Gothic+One" rel="stylesheet">

<header>
  <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('plot') }}">Plot</a></li>
          <li><a href="{{ url_for('docs') }}">Docs</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="container">

<h2>PAINTOR CAN-viz</h2>
  <form action="" method=post enctype=multipart/form-data>

       <label for="post">Threshold</label>
      <input type="text" class="form-control" id="threshold" name="threshold" placeholder="99">
      <br>
      <label for="post">Posterior Probabilities</label>
      <input type=file name=file>
      <label for="post">LD</label>
      <input type=file name=file2>
      <label for="post">Functional Annotations</label>
      <input type=file name=file3>
      <button type="submit" value=Upload class="btn btn-success">Plot</button>

     
    </form>


</div>

<footer>

</footer>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

    
  </body>
</html>
